/* MY FECUTRED PROJECTS */

.projects__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 7.4rem;
  row-gap: 7.5rem;
}

.projects__img {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  max-width: 100%;
  min-width: 100%;
}
.projects__data {
  align-self: center;
}

.project__descripiton {
  line-height: 1.5;
}

.project__links {
  color: var(--color-blue);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  margin-top: 2.3rem;
}

.project__links::before {
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  background-size: contain;
  /*   background-image: url("./images\ copy/");
 */
}
/* end projects */
